.item1 { 
    background-color: #4DCCBD;
    grid-area: header;
}
.item2 { 
    background-color: #B9FFB7;

    grid-area: menu; 
    display: flex;
    flex-direction: column;
    min-width:300px;
}
.item3 { 
    background-color: #ABEDC6;
    grid-area: main;
}
.item4 { 
    background-color: #98D9C2;
    grid-area: right;
    background-image: url('https://picsum.photos/400/600');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
.item5 { 
    background-color: #F19A3E;
    grid-area: footer;
 }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #000;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}